
:root {
    /* For text and icons. */
    --colorForegroundNeutral: #14171f;    
    --colorForegroundNeutralFaded: #606981;    
    --colorForegroundCritical: #cb101d;    
    --colorForegroundPositive: #05751f;    
    --colorForegroundUpgrade: #874ce6;    
    /* You might not need this — just apply Opacity Disabled (40%) token to a layer. */
    --colorForegroundDisabled: #c7cddb;    
    --colorForegroundPlaceholder: #7f8694;    
    /* Primary background for all components or surfaces, with the exception of Page. If in doubts which to use, use this. */
    --colorBackgroundElevationBase: #ffffff;    
    /* Use together with Raised elevation. It will then ensure it works also in dark mode properly. */
    --colorBackgroundElevationRaised: #ffffff;    
    /* Use together with Overlay elevation. It will then ensure it works also in dark mode properly. */
    --colorBackgroundElevationOverlay: #ffffff;    
    --colorBackgroundNeutral: #182d660a;    
    --colorBackgroundNeutralFaded: #141a2b05;    
    --colorBackgroundNeutralHighlighted: #182d6614;    
    /* Use only for body background. If you need a background for your components, use one of the Background / Elevation styles. */
    --colorBackgroundPage: #ffffff;    
    /* Use only for background of the main page sections. If you need a background for your components, use one of the Background / Elevation styles. */
    --colorBackgroundPageFaded: #fafafa;    
    --colorBackgroundPrimary: #104fc6;    
    /* For hover and active states */
    --colorBackgroundPrimaryHighlighted: #004ee1;    
    --colorBackgroundPrimaryFaded: #edf5ff;    
    --colorBackgroundCritical: #e22c2c;    
    --colorBackgroundCriticalHighlighted: #cb101d;    
    --colorBackgroundCriticalFaded: #fef1f2;    
    --colorBackgroundPositive: #118850;    
    --colorBackgroundPositiveHighlighted: #05751f;    
    --colorBackgroundPositiveFaded: #ebfef6;    
    --colorBackgroundUpgrade: #874ce6;    
    --colorBackgroundUpgradeHighlighted: #6a2bbf;    
    --colorBackgroundUpgradeFaded: #f5f2fd;    
    --colorBackgroundBlur: #fffffff2;    
    --colorBackgroundBlurNeutral: #f4f5f7f2;    
    /* To be used together with Blur effect for interactive sticky elements. */
    --colorBackgroundBlurNeutralHighlighted: #ecedf0f2;    
    /* You might not need this — just apply Opacity Disabled (40%) token to a layer. */
    --colorBackgroundDisabled: #182d660a;    
    /* You might not need this — just apply Opacity Disabled (40%) token to a layer. */
    --colorBackgroundDisabledFaded: #141a2b05;    
    --colorBorderNeutral: #c7cddb;    
    --colorBorderNeutralFaded: #eceef3;    
    --colorBorderPrimary: #004ee1;    
    --colorBorderPrimaryFaded: #d0e2ff;    
    --colorBorderCritical: #cb101d;    
    --colorBorderPositive: #05751f;    
    --colorBorderPositiveFaded: #cdedd5;    
    --colorBorderUpgrade: #6a2bbf;    
    --colorBorderUpgradeFaded: #e3dbfa;    
    /* You might not need this — just apply Opacity Disabled (40%) token to a layer. */
    --colorBorderDisabled: #dfe2ea;    
    --colorBorderFocus: #4589ff;    
    /* To be used on Neutral background colors. */
    --colorOnBackgroundNeutral: #14171f;    
    /* Not overriden by a theme. */
    --colorPersistentBlack: #14171f;    
    --colorDecorativeCyanForeground: #0e7490;    
    --colorDecorativeCyanBackground: #d5fbfe;    
    --colorDecorativeCyanBorder: #baf0f4;    
    --colorDecorativeFuchsiaForeground: #b725cb;    
    --colorDecorativeFuchsiaBackground: #fcf0ff;    
    --colorDecorativeFuchsiaBorder: #f5dcfa;    
    --colorDecorativeGreenBorder: #bef9e0;    
    --colorDecorativeGreyForeground: #4e536a;    
    --colorDecorativeGreyBackground: #edeff3;    
    --colorDecorativeGreyBorder: #e1e4eb;    
    --colorDecorativeLightGreyForeground: #68718d;    
    /* To be used on Primary and Primary Highlighted background colors. */
    --colorOnBackgroundPrimary: #ffffff;    
    --colorDecorativeLightGreyBackground: #f6f7f9;    
    /* To be used on Critical and Critical Highlighted background colors. */
    --colorOnBackgroundCritical: #ffffff;    
    /* To be used on Positive and Positive Highlighted background colors. */
    --colorOnBackgroundPositive: #ffffff;    
    /* To be used on Upgrade and Upgrade Highlighted background colors. */
    --colorOnBackgroundUpgrade: #ffffff;    
    /* Not overriden by a theme. */
    --colorPersistentWhite: #ffffff;    
    --colorDecorativeLightGreyBorder: #edeff3;    
    --colorDecorativeOrangeForeground: #c2410c;    
    --colorDecorativeOrangeBackground: #fff2e1;    
    --colorDecorativeOrangeBorder: #fbe7cc;    
    --colorDecorativePinkForeground: #d12372;    
    --colorDecorativePinkBackground: #fdf0f7;    
    --colorDecorativePurpleBorder: #ebe4ff;    
    --colorDecorativePinkBorder: #ffe4f3;    
    --colorDecorativeRedBorder: #ffe9ea;    
    --colorDecorativeTealForeground: #107a71;    
    --colorDecorativeTealBackground: #e2fff8;    
    --colorDecorativeTealBorder: #ccf8ee;    
    --colorDecorativeYellowForeground: #a16207;    
    --colorDecorativeYellowBackground: #fffde7;    
    --colorDecorativeYellowBorder: #fef9c3;    
    --colorPrimaryPrimary200: #edf5ff;    
    --colorPrimaryPrimary400: #d0e2ff;    
    --colorPrimaryPrimary500: #8cb4ff;    
    --colorPrimaryPrimary600: #0f62fe;    
    --colorPrimaryPrimary700: #004ee1;    
    --colorPrimaryPrimary800: #104fc6;    
    --colorRedRed100: #fef1f2;    
    --colorRedRed600: #cb101d;    
    --colorColorWhite: #ffffff;    
    --colorNeutralNeutral100Opaque_: #141a2b05;    
    --colorNeutralNeutral200Opaque_: #182d660a;    
    --colorNeutralNeutral400: #606981;    
    --colorNeutralNeutral500: #c7cddb;    
    --colorNeutralNeutral900: #14171f;    
    --colorGreenGreen100: #ebfef6;    
    --colorGreenGreen600: #05751f;    
    --colorPurplePurple100: #f5f2fd;    
    --colorPurplePurple600: #874ce6;    
    --colorPurplePurple700: #6a2bbf;    
    --colorOrangeOrange100: #fef8eb;    
    --colorOrangeOrange200: #fbe5c5;    
    --colorOrangeOrange500: #cc4d00;    
    --colorOrangeOrange600: #b53c0a;    
    /* For text and icons. */
    --colorForegroundNeutralFaded: #606981;    
    /* Used for highlighted text in inputs. */
    --colorBackgroundFocusTextHighlight: #d0e2ff;    
    --colorPrimaryExample: #c96c6c;    
    --colorForegroundPrimary: var(--colorBorderPrimary);    
    --colorForegroundWarning: var(--colorOrangeOrange600);    
    --colorBackgroundWarning: var(--colorOrangeOrange500);    
    --colorBackgroundWarningHighlighted: var(--colorOrangeOrange600);    
    --colorBackgroundWarningFaded: var(--colorOrangeOrange100);    
    --colorBackgroundFocusHighlight: var(--colorPrimaryPrimary400);    
    --colorBorderCriticalFaded: var(--colorForegroundCritical);    
    --colorBorderWarning: var(--colorOrangeOrange600);    
    --colorBorderWarningFaded: var(--colorOrangeOrange200);    
    --colorBorderFocusFaded: var(--colorPrimaryPrimary400);    
    --colorDecorativeBlueForeground: var(--colorPrimaryPrimary600);    
    --colorDecorativeBlueBackground: var(--colorPrimaryPrimary200);    
    --colorDecorativeBlueBorder: var(--colorPrimaryPrimary400);    
    --colorDecorativeGreenForeground: var(--colorGreenGreen600);    
    --colorDecorativeGreenBackground: var(--colorGreenGreen100);    
    --colorOnBackgroundWarning: var(--colorColorWhite);    
    --colorDecorativePurpleForeground: var(--colorPurplePurple600);    
    --colorDecorativePurpleBackground: var(--colorPurplePurple100);    
    --colorDecorativeRedForeground: var(--colorRedRed600);    
    --colorDecorativeRedBackground: var(--colorRedRed100);    
    --colorForegroundButton: var(--colorForegroundPrimary);    
}